<%- include('../partials/header'); %>

   <div class="container">
        <h1>Add New Comment to <%=  campground.name %></h1>

        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <!-- <input class="form-control" type="text" name="comment[author]" placeholder="author"> -->
            <input class="form-control" type="text" name="comment[text]" placeholder="text">
            <button class="btn btn-lg btn-primary">Submit!</button>
        </form>
        <a href="/campgrounds">Go Back</a>
  </div>

<%- include('../partials/footer'); %>
